<a href="https://colab.research.google.com/github/imanol-um/edd_1358_2021/blob/master/12Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Diccionarios (Continuaci√≥n)

cliente_banco = {
              "id":1,
              "Nombres": ["Juan","Antonio"],
              "Paterno":"Garcia",
              "Materno": "Perez",
              "Telefonos":{
                          "Casa":5566778899,
                          "Celular":5544332211,
                          "Trabajo":5566223311
                           },
              "Activo":True,"Balance":234567.89,
              "Tarjetas":({"Tipo":"Debito","Saldo":12000},
                          {"Tipo":"Credito","Saldo":3500.0})
              }

print(cliente_banco)
print("-------------------------")
#cliente_banco["Balance"] = cliente_banco["Balance"] - 1000
cliente_banco["Balance"] -= 1850.5
print(cliente_banco)
print("-------------------------")
#No se modifica, solo se remplaza.
cliente_banco["Tarjetas"] = ({"Tipo":"Debito","Saldo":12000},
                          {"Tipo":"Credito","Saldo":3500.0},
                          {"Tipo":"Credito","Nivel":"Oro","Saldo":50000})
print(cliente_banco)
print("-------------------------")
cliente_banco["Direccion"] = {"Calle":"Rancho Seco","Numero":23}
print(cliente_banco)
print("-------------------------")
cliente_banco.pop("Tarjetas")
print(cliente_banco)

In [26]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
  print(x)
print("***********************")
valores = cliente_banco.values()
print(valores)
print(type(valores))
for v in valores:
  print(v)

print("************************")
pares = cliente_banco.items()
print(pares)

print("*-*-*-*-*-*")
for elem in pares:
  print(f"{elem[0]} = {elem[1]}")

dict_keys(['id', 'Nombres', 'Paterno', 'Materno', 'Telefonos', 'Activo', 'Balance', 'Direccion'])
<class 'dict_keys'>
id
Nombres
Paterno
Materno
Telefonos
Activo
Balance
Direccion
***********************
dict_values([1, ['Juan', 'Antonio'], 'Garcia', 'Perez', {'Casa': 5566778899, 'Celular': 5544332211, 'Trabajo': 5566223311}, True, 232717.39, {'Calle': 'Rancho Seco', 'Numero': 23}])
<class 'dict_values'>
1
['Juan', 'Antonio']
Garcia
Perez
{'Casa': 5566778899, 'Celular': 5544332211, 'Trabajo': 5566223311}
True
232717.39
{'Calle': 'Rancho Seco', 'Numero': 23}
************************
dict_items([('id', 1), ('Nombres', ['Juan', 'Antonio']), ('Paterno', 'Garcia'), ('Materno', 'Perez'), ('Telefonos', {'Casa': 5566778899, 'Celular': 5544332211, 'Trabajo': 5566223311}), ('Activo', True), ('Balance', 232717.39), ('Direccion', {'Calle': 'Rancho Seco', 'Numero': 23})])
*-*-*-*-*-*
id = 1
Nombres = ['Juan', 'Antonio']
Paterno = Garcia
Materno = Perez
Telefonos = {'Casa': 5566778899, 'Celular': 5544332211, 'Trabajo': 5566223311}
Activo = True
Balance = 232717.39
Direccion = {'Calle': 'Rancho Seco', 'Numero': 23}

In [28]:
frutas = {"Nomnre":"Manzana","Color":"Rojo","Estado":"Chihuahua"}

otras_caracteristicas = {"Vitamina":"D"}

frutas.update(otras_caracteristicas)

print(frutas)

{'Nomnre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua', 'Vitamina': 'D'}

#Funciones
- recibe de 0 a n argumentos de entrada.
- Regresa solo un valor aunque este sea None.
- Tiene un nombre unico en el contexto
- Se puede hacer solo dos cosas con las funciones
  - Definirla
  - Llamarla

In [33]:
def suma(a,b):
#Cambiando el ancho del tabulador
    return a+b

def saludar():
    print("Hola, Como estas?")
    return None 

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, Como estas?

#None y las Funciones
Aprovechar el uso de None en paso de parametros.

In [39]:
def calcular(base,veces):
    if base != None:
        resultado = base * veces
    else:
        resultado = "Desconocido."
    return resultado

print(calcular(4,12))
print(calcular(None,12))

48
Desconocido.